<h1>Edit Transaction</h1>

<li> <%= "<b>Date:</b> #{@transaction.transaction_date}<br><b>Description:</b> #{@transaction.description}<br><b>Amount:</b> £#{@transaction.amount}<br><b>Merchant:</b> #{@transaction.merchant}<br><b>Tag:</b> #{@transaction.tag}" %>
<br>
<br>
<form method="post" action="/transactions/<%= @transaction.id %>" method="post">
  <label for="description">Description</label>
  <input type="text" name="description" value="<%= @transaction.description %>">

  <label for="amount">Amount</label>
  <input type="text" name="amount" value="<%= @transaction.amount %>">

  <label for="transaction_date">Date</label>
  <input type="text" name="transaction_date" value="<%= @transaction.transaction_date %>">

  <label>
    <select name="merchant" value="<%= @transaction.merchant %>">
      <% Merchant.all.each { |merchant| %>
      <option value="<%= merchant.id %>"><%=merchant.name%></option>
      <%}%>
    </select>
  </label>

  <label>
    <select name="tag" value="<%= @transaction.tag %>">
      <% Tag.all.each { |tag| %>
      <option value="<%= tag.id %>"><%=tag.category%></option>
      <%}%>
    </select>
  </label>

  <input type='submit' value="Update"/>
</form>
